@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-start align-items-center rounded-3 bg-light shadow-sm" style="height: 200p; max-width: 100%;">
    <div class="d-flex flex-column p-3">
        <h2 class="text-blue500 fw-bold">Arthur Marinho de Oliveira</h2>
        <div class="d-flex flex-column text-muted">
            <span>arthur.moliveira@al.infnet.edu.br</span>
            <span class="mt-4">TP1 - Desenvolvimento com Serviços WCF e Microsoft Azure</span>
        </div>
    </div>
</div>
<div>
    <h2>Definições de SaaS, PaaS e IaaS</h2>
</div>
<div>
    <h4>SaaS (Software como Serviço)</h4>
    <p>SaaS é um modelo de fornecimento de software em que o software é hospedado em um servidor e disponibilizado aos usuários pela internet. Os usuários acessam o software por meio de um navegador da web ou um aplicativo específico e pagam pelo serviço com base no uso. Exemplo: Google Apps, Salesforce.</p>

    <h4>PaaS (Plataforma como Serviço)</h4>
    <p>PaaS é um modelo de fornecimento de plataforma em que os usuários podem criar, executar e gerenciar seus próprios aplicativos, sem precisar se preocupar com a infraestrutura subjacente. A plataforma é hospedada em um servidor e fornecida aos usuários pela internet. Exemplo: Microsoft Azure, Heroku.</p>

    <h4>IaaS (Infraestrutura como Serviço)</h4>
    <p>IaaS é um modelo de fornecimento de infraestrutura em que os usuários podem alugar recursos de computação, como servidores, armazenamento e redes, de um provedor de serviços em nuvem. Os usuários podem implantar e gerenciar seus próprios aplicativos na infraestrutura fornecida pelo provedor de serviços. Exemplo: Amazon Web Services (AWS), Google Cloud Platform.</p>

    <h4>Exemplos de produtos / serviços</h4>
    <ul>
        <li>SaaS: Google Apps (conjunto de aplicativos de produtividade baseados na web), Salesforce (CRM baseado em nuvem)</li>
        <li>PaaS: Microsoft Azure (plataforma de nuvem da Microsoft), Heroku (plataforma de aplicativos em nuvem da Salesforce)</li>
        <li>IaaS: Amazon Web Services (AWS) (plataforma de nuvem da Amazon), Google Cloud Platform (plataforma de nuvem do Google)</li>
    </ul>
</div>
